
html, body {
  height: 100%;
}

/* Space out content a bit */
body {
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
  font-size: 10px;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  body {
    font-size: 14px;
  }
}

@media (min-width: 1300px) {
  body {
    font-size: 16px;
  }
}

@media (min-width: 1500px) {
  body {
    font-size: 18px;
  }
}

/* Extra Large devices (desktops, 2100px and up) */
@media (min-width: $screen-xl-min) {
  body {
    font-size: 27px;
  }
}

/* Modals */
.modal-backdrop {
  background-color: $white;

  &.in {
    opacity: 0.8;
  }
}

/* Icons */
i {
  cursor: pointer;
}
.img-icon {
  cursor: pointer;
}
.close {
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  opacity: 1 !important;

  img {
    vertical-align: baseline;
  }
}
.fa-uniandes:before {
  content: url(/images/provider_uniandes2peque.png);
}

/* Inputs */
.form-group input {
  border-radius: 2px;
  border-color: $border-gray;
  font-size: .9em;

  &:focus {
    outline: none;
    border-color: $border-gray;
  }
}
.input-group-addon:last-child {
  border-radius: 2px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

/* Buttons */
.btn {
  border-radius: 2px;
  padding: 0.4em 1em;
}
.btn-uniandes {
  @include btn-social($uniandes, #000);
}
.btn-social,.btn-social-icon {
  padding-left: 44px;
  font-weight: 300;
}
.btn-danger {
  background-color: $red !important;
  border-color: $red !important;
}
.btn-success {
  background-color: $green !important;
  border-color: $green !important;
}
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn:focus,button:focus {
  outline: none !important;
}

/* Helpers */
.vertical-align-helper {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
