
html, body {
  height: 100%;
}

/* Space out content a bit */
body {
  padding-top: 10px;
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  body {
      padding-bottom: 20px;
  }
}

/* Icons */
i.delete-icon {
  color: $gray-light;
  cursor: pointer;

  &:hover {
    color: $brand-danger;
  }
}

/* Buttons */
.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.btn:focus {
  outline: none !important;
}

