
.pla-color-palette {
  text-align: center;

  .color-row {
    white-space: nowrap;

    .color {
      height: .9em;
      width: .9em;
      display: inline-block;
      margin-right: .5em;
      cursor: pointer;
      border-radius: 10px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

