// Color Palette
$froly:             #f27979;
$tacao:             #f2a979;
$golden-sand:       #f2da79;
$manz:              #daf279;
$sulu:              #a9f279;
$screaming-green:   #79f279;
$aquamarine:        #79f2a9;
$spray:             #79f2da;
$spray-dark:        #79daf2;
$jordy-blue:        #79a9f2;
$cornflower-blue:   #7979f2;
$portage:           #a979f2;
$heliotrope:        #da79f2;
$lavender-magenta:  #f279da;
$persian-pink:      #f279a9;

// Academical colors
$academical-blue: #23a0d7;
$academical-blue-sidebar: #2daae1;
$academical-blue-filter: #0c8ac1;
$white: #ffffff;
$dark: #676767;


