
// Academical colors
$academical-blue:         #23a0d7;
$academical-blue-sidebar: #2daae1;
$academical-blue-filter:  #0c8ac1;
$academical-dark-blue:    #004B6C;
$white:                   #ffffff;
$dark:                    #676767;
$red:                     #ea4e59;
$gray:                    #606060;

