

@import "./plain-header";
@import "./plain-footer";

.pla-error-page {

  height: 250px;

  .helper {
    height: 100%;
    vertical-align: middle;
    display: inline-block;
  }

  .error-content {
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    width: 90%;

    @media (min-width: $screen-sm-min) {
      width: 60%;
    }
  }

  .error-image {
    display: inline-block;
    float: left;
    padding-top: 3em;
    text-align: center;
    width: 25%;

    img {
      width: 80%;
    }
  }

  .error-text-box {
    display: inline-block;
    padding: 1em;

    .code {
      color: $red;
      display: block;
      font-size: 5em;
      font-weight: bold;
    }

    .message {
      float: right;
      display: inline-block;
      color: $gray;
      font-size: 3em;
      white-space: nowrap;
    }
  }

  .error-button {
    background-color: $academical-blue-sidebar;
    border: none;
    color: $white;
    float: right;
    clear: both;
    line-height: 2em;
    margin-top: 1em;
  }
}
