
.pla-event-item {
  margin-bottom: -3px;
  
  .panel-heading {
    padding: 7px 10px;
    border-left: 7px solid #eee;
  }
  .panel-title {
    color: $dark;
    font-weight: 400;
    font-size: 110%;
  }
}
