
.pla-event-modal {
  width: 500px;

  .modal-header {
    color: white;
    background: $academical-blue-sidebar;
    padding: 10px;
    position: relative;
    h4 {
      font-weight: 300;
      font-size: 1.2em;
      margin-left: 10px;
    }
    .modal-close-button{
      background:$academical-blue-filter;
      height: 100%;
      width: 9%;
      position: absolute;
      top: 0;
      right: 0;
      button {
        top: auto;
        bottom: auto;
        height: 100%;
        opacity: 1;
        padding: 12px;
        img {
          width: 85%;
          height: auto;
        }
      }
    }

  }

  .modal-body {
    padding: 0px 15px;
  }

  .modal-footer {
    border-top: 0px;

    .btn-danger {
      background-color: $red;
      font-weight: 700;
    }

    .btn-success {
      background-color: $green;
      font-weight: 700;
    }
  }

}