
.pla-event-modal {
  width: 500px;

  .modal-header {
    color: white;
    background: $academical-blue-sidebar;
    padding: 10px;

    h4 {
      font-weight: 300;
      font-size: 1.2em;
      margin-left: 10px;
    }

    button {
      background:$academical-blue-filter;
      padding: 11px;
      margin-top: -10px;
      margin-right: -10px;
      opacity: 1;

      img {
        width: 80%;
      }
    }
  }

  .modal-body {
    padding: 0px 15px;
  }

  .modal-footer {
    border-top: 0px;

    .btn-danger {
      background-color: $red;
      font-weight: 700;
    }

    .btn-success {
      background-color: $green;
      font-weight: 700;
    }
  }

}