
.pla-item-settings {

  .delete-msg {
    margin-left: .4em;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.85em;
    font-weight: normal;
  }

  .delete-icon{
    zoom: 0.85;
    vertical-align: baseline;
  }

  .pla-color-palette {
    margin-bottom: 4px;
  }
}
