
.pla-logo-box {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  text-align: center; margin: 1em 0;

  div {
    display: inline-block;
    height: 100%;
    width: 100%;
    vertical-align: middle;

    img {
      zoom: 0.75;
      vertical-align: middle;
    }
  }
}
