
.pla-logo-box {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  text-align: center;

  span {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }

  img {
    width: 73%;
    vertical-align: middle;
  }
}
