
.pla-logo-box {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  text-align: center;

  div {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 5%;

    img {
      width: 80%;
      vertical-align: middle;
    }
  }
}
