.pla-options-item {

  a {
    font-size: .8em;
    color: $dark;
    padding-right: 5em;
    padding-left: 1.6em;

    img {
      width: 10%;
    }
    span {
      margin-left: 1.5em;
      vertical-align: middle;
    }
  }
}
