
.pla-options-menu {

  a.dropdown-toggle {
    padding: 0 !important;
    border: none;
    background: transparent;

    img {
      zoom: 0.8;
    }

    .caret {
      display: none;
    }
  }

  .dropdown-menu {
    padding: .6em 0;
  }
}
