
.pla-panel-item-list {
  padding-right: 1px;
  margin-top: 20px;

  .list-header {
    text-align: left;
    margin-left: 5%;
    color: white;
    font-weight: 200;
    font-size: 190%;
  }

  .list-subheader {
    text-align: left;
    margin-left: 5%;
    color: white;
    font-weight: 200;
    font-size: 135%;
  }

  .panel-group{
  margin-bottom: 0px;
  }

  .panel-collapse {
    border-left: 7px solid #eee;
  }

  .add-item-bar {
    text-align: left;
    margin-top: 5%;
    margin-left: 5%; 

    .btn-info{
      background-color: white;
      border-color: white;
      padding: 0px;
    }

    img {

    }
  }
}

