
.pla-personal-event-item {

  .pla-color-picker {
    float: none;
    display: inline-block;
    vertical-align: sub;
    margin-right: 0.4em;
  }

  .pla-color-palette .color {
    height: 0.9em;
    width: 0.9em;
  }
}
