
.pla-planner-body {
  @include make-row();
  @include make-md-column(9);
  @include make-xs-column(12);

  height: 100%;
  margin-left: 0;
  padding: 0px;

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  .pla-planner-body {
    height: 92%;
  }
}

