
.pla-planner-header {

  height: 11%;

  .container-navbar{
    margin-top: 1.7%;
  }

  .navbar {
    border: none;
    padding: 0;
    margin: 0;
    height: 100%;
  }

  .container-fluid {
    height: 100%;
    padding: 0px;
    background: $gray;
  }

  .navbar-left {
    background-color: $academical-blue;
    border-bottom: 1px solid $academical-blue-filter;
    height: 100%;
    width: 25%;
  }

  .navbar-dropdowns {
    width: 30%;
    li {
      background: white;
      margin-left: 7%;
      border: 1px solid #e5e5e5;
      border-radius: 2px;
      a.dropdown-toggle {
        padding: 3px;
        span.caret {
          margin-left: 6px;
        }
      }
    }
  }

  .pla-calendar-control {
    button {
      background: none;
      padding: 0;
      width: 2em;
      height: 2em;
      border: 1px solid $academical-blue-sidebar;
      border-right: 0;
    }
  }

  .navbar-nav:last-child {
    float: right;
  }
}
