
.pla-schedule-page {
  height: 100%;

  .loading-indicator {
    text-align: center;
    height: 100%;
    width: 100%;

    i.fa-spinner {
      font-size: 15em;
      vertical-align: middle;
      color: #2daae1;
      display: inline-block;
    }
  }
}
