
.pla-schedule-list {
  background-color: $white;
  border: 1px solid #e5e5e5;
  border-radius: 2px;

  a.dropdown-toggle {
    padding: .2em .7em;

    &:hover,&:focus {
      background-color: $white;
    }

    span.caret {
      color: lightgray;
      margin-left: .7em;
    }
  }
}
