
.pla-search-filters {

  /* Positioning */
  width: 100%;
  position: absolute;
  left: 0;
  top: 2.8em;
  max-height: $results-height;

  background-color: $academical-blue-filter;
  color: $white;
  padding: 1.3em 2em;
  font-size: .8em;
  z-index: 1;

  label {
    font-weight: normal;
  }

  input[type="checkbox"] {
    margin-top: .18em;
  }

  .row+.row {
    margin-top: 1em;
  }

  .checkbox {
    margin-top: 0;
    margin-bottom: 0;

    + .checkbox {
      margin-top: .4em;
    }
  }

  .form-group {
    margin-bottom: 0;
  }

  .btn-search {
    padding: .3em .7em;
    margin-right: .65em;
    font-size: .9em;

    .fa {
      margin-left: .2em;
    }
  }

}

