
.pla-search-filters {
  background-color: $academical-blue-filter;
  color: $white;
  padding: 1.3em;
  font-size: .8em;

  label {
    font-weight: normal;
  }

  .checkbox {
    margin-top: 0;
    margin-bottom: .4em;
  }

  input[type="checkbox"] {
    margin-top: .18em;
  }
}

