
.pla-search-filters-trigger {

  /* Positioning */
  float: right;
  height: 2.3em;
  width: 24%;

  text-align: center;
  margin-top: .1em;
  padding-top: .4em;
  background-color: $academical-blue-filter;
  border-radius: .3em;
  // border-bottom: 2.5em solid $academical-blue-filter;
  color: $white;
  font-size: .8em;
  font-weight: normal;

  &.collapsed,&.filtering {
    border-bottom: none;
  }

  &.filtering {
    background-color: $green;
    width: 27%;

    .filters-toggle {
      &:after {
        font-family: FontAwesome;
        content: "\f00c"; // Checkmark
        color: $white;
        padding: 0;
      }
    }
    .filters-toggle.collapsed:after {
      content: "\f00c"; // Checkmark
    }
  }

  .filters-toggle {
    color: inherit;
    text-decoration: none;

    &:after {
      font-family: FontAwesome;
      padding-left: .5em;
      content: "\f0d8"; // Caret up icon
      color: black;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .filters-toggle.collapsed:after {
    content: "\f0d7"; // Caret down icon
  }
}
