
.pla-search-bar {

  margin-top: 13%;
  margin-bottom: 10%;
  position: relative;


  .search-input {
    background: transparent;
    border: none;
    color: $white;
    font-size: .8em;
    display: inline-block;
    width: 70%;
    vertical-align: sub;
    padding-right: 2em;
    padding-bottom: .45em;
    border-bottom: 1px solid $white;
    &:focus{
      color: $white;
      outline: none
    }
    &::-webkit-input-placeholder {
      color: $white;
    }
    &:-moz-placeholder { /* Firefox 18- */
       color: $white;
    }
    &::-moz-placeholder {  /* Firefox 19+ */
       color: $white;
    }
    &:-ms-input-placeholder {
       color: $white;
    }
  }

  .corequisites {
    position: absolute;
    padding: 5px 0;
    top: 0;
    text-align: center;
    background-color: $academical-dark-blue;
    color: $white;
    height: 30px;
    width: 100%;
  }

  .search-icon {
    position: absolute;
    top: .45em;
    left: 12em;
    color: $white;
  }

  // Autosuggest
  .react-autosuggest {
    $font-size: 18px;
    $border-color: #aaa;
    $border-radius: 4px;

    position: relative;
    display: inline;

    &__suggestions {
      position: absolute;
      max-height: 564px;
      overflow-y: scroll;
      top: 51px;
      width: 100%;
      margin: 0;
      padding: 0;
      list-style-type: none;
      border: 1px solid $border-color;
      background-color: #fff;
      font-size: $font-size;
      border-bottom-left-radius: $border-radius;
      border-bottom-right-radius: $border-radius;
      z-index: 2;

      &-section {
        &:first-child {
          .react-autosuggest__suggestions-section-name {
            border-top: 0;
          }
        }

        &-name {
          padding: 10px 0 0 10px;
          font-size: 12px;
          text-transform: uppercase;
          color: #777;
          border-top: 1px dashed #ccc;
        }

        &-suggestions {
          margin: 0;
          padding: 0;
          list-style-type: none;
        }
      }
    }

    &__suggestion {
      cursor: pointer;
      padding: 10px 20px;

      &--focused {
        background-color: #ddd;
      }
    }
  }

  .search-filters {
    float: right;
    text-align: center;
    width: 24%;
    height: 2.3em;
    margin-top: .1em;
    padding-top: .4em;
    background-color: $academical-blue-filter;
    color: $white;
    font-size: .8em;
    font-weight: normal;
    border-radius: .3em;
  }

  .filters-toggle {
    color: inherit;
    text-decoration: none;

    &:after {
      font-family: FontAwesome;
      padding-left: .5em;
      content: "\f0d8"; // Caret up icon
      color: black;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .filters-toggle.collapsed:after {
    content: "\f0d7"; // Caret down icon
  }

}
