
.pla-section-item {

  .panel-title .label-seats {
    border-radius: 0.85em;
    margin-right: 0.5em;
    font-size: 10px;
    font-weight: 200;
    padding: 3px 5px;
  }

  .list-group-item.teachers {
    font-weight: 500;
  }
  .list-group-item.seats {
    font-weight: 500;
    text-align: center;
  }

}
