
.pla-share-header {

  height: 11%;

  .container-fluid {
    height: 100%;
    padding: 0px;
    width: 80%;
  }

  .navbar {
    border: none;
    padding: 0;
    margin: 0;
    height: 100%;
  }

  .navbar-nav, .navbar-nav li {
    height: 100%;
  }

  .pla-logo {
    width: 25%;
  }

  .navbar-nav:last-child {
    float: right;
  }

  .pla-share-button {
    display: inline-block;
    vertical-align: middle;

    button {
      background: none;
      border: 1px solid $academical-blue-sidebar;
      color: $academical-blue-sidebar;
      padding: 1em;
    }

    span {
      display: inline-block;
      margin-left: 1em;
      vertical-align: middle;
      white-space: nowrap;
    }
  }

  .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
  }
}
