
.pla-week-calendar {
  height: 100%;

  .fc-view-container {
    margin-top: 3%;
    overflow-y: scroll;
  }

  .fc-time i {
    cursor: pointer;
  }

  .fc-content {

    .fc-time,.fc-title {
      font-size: .75em;
      font-weight: 600;
    }

    .fc-time {
      padding: .2em .5em 0 .5em;
    }

    .fc-title {
      padding: .2em 0 0 .5em;
    }
  }

  .dirty-event {
    opacity: .7;
  }

}
