
.pla-week-calendar {

  height: 100%;

  .fc-toolbar {
    height: 7%;
  }

  .fc-view-container {
    height: 93%;
    overflow-y: scroll;
  }

  .fc-time i {
    cursor: pointer;
  }

  .dirty-event {
    opacity: 0.7;
  }

  /* Only small and extra small devices (tablets, phones) */
  @media (max-width: ($screen-md-min - 1)) {
    .fc-toolbar {
      padding-left: 46px;
    }
  }

  /* Small devices and up (tablets, 768px and up) */
  @media (min-width: $screen-sm-min) {
    .fc-toolbar {
      height: 5%;
    }
    .fc-view-containe {
      height: 95%;
    }
  }

}
