
.pla-week-control {

  button {
    background: none;
    padding: 0;
    border: 1px solid $academical-blue-sidebar;
  }
  .btn-arrow-left{
    width: 2em;
    height: 2em;
    border-right: 0;
  }
  .btn-arrow-right{
    width: 2em;
    height: 2em;
    border-left: 0;
  }
  .btn-day-tag{
    width: 5em;
    height: 2em;
    border-left: 0;
    border-right: 0;
    color: $academical-blue-sidebar;
  }

}
